openai==1.61.1
pillow==11.1.0
gradio==5.20.0
faiss-cpu==1.10.0
langchain==0.3.20
langchain-openai==0.3.7
langchain-community==0.3.19
pylatexenc==2.10
requests==2.32.3
numpy==1.26.4
pandas==2.2.2
transformers==4.48.3
tiktoken==0.9.0